.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spielbrett {
  text-align: center;
}

table {
  border-collapse: collapse;
  border: transparent;
  background-color: whitesmoke;
  table-layout: fixed;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
} 

th,td {
  border: transparent;
  margin-left: auto;
  margin-right: auto;
}


.myGoButton {
  width: 40px;
  height: 40px;
  margin: 25px;
  border-radius: 30%;
  border-color: transparent;

  animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}




@keyframes backgroundColorPalette {
	0% {
		background: #ee6055;
	}
	25% {
		background: #60d394;
	}
	50% {
		background: #aaf683;
	}
	75% {
		background: #ffd97d;
	}
	100% {
		background: #ff9b85;
	}
}




.myPin {
  width: 45px;
  height: 45px;
  margin: 15px;
  border-radius: 50%;
  border-color: transparent;
}

.Pin--red {
  background: radial-gradient( red, darkred);
  color: white
}
.Pin--blue {
  background: radial-gradient(cornflowerblue, blue);
  color: black;
}
.Pin--yellow {
  background: radial-gradient( yellow, rgb(214, 203, 39));
  color: black;
}
.Pin--green {
  background: radial-gradient(lightgreen, green);
  color: white;
}

.Pin--cyan {
  background: radial-gradient(cyan, darkcyan);
  color: white;
}

.Pin--magenta {
  background: radial-gradient(violet, magenta);
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
